
// Registration

#user-icon {
  font-size: 20px;
}

#user-big-icon {
  font-size: 50px;
}

#register-pics {
  margin-left: 20px;
}

#profile-picture {
  margin-top: 6%;
}

#profile-cv {
  margin-top: 6%;
}

// User Profile

#profile-content {
  background-image: linear-gradient(rgba(39,188,183,0.4), rgba(255,0,0,0.4));
}

#profile-header {
  height: 50px;
  width: 100%;
  margin: auto;
  padding-bottom: 7%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#header-col1{
  height: 50px;
  width: 10%;
  float: left;
}

#back-button {
  color: white;
  font-size: 300%;
  margin-left: 10px;
  margin-top: 5%;
}

#header-col2 {
  height: 50px;
  width: 80%;
  float: left;
}

#header-text {
  color: white;
  text-align: center;
  margin-top: 1.5%;
  font-size: 20px;
  letter-spacing: 2px;
}

#header-col3 {
  height: 50px;
  width: 10%;
  float: left;
}

#settings-button {
  color: white;
  font-size: 250%;
  margin-left: 25px;
  margin-top: 11%;
}

#profile-content-content {
  width: 100%;
  padding: 8% 5% 0% 5%;
}

#profile-content-col1 {
  height: 100px;
  width: 20%;
  float: left;
}

#user-profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#profile-content-col2 {
  height: 100px;
  width: 80%;
  float: left;
  padding: 10px;
}

#profile-name {
  color: white;
}

#profile-text {
  margin-top: 150px;
  margin-bottom: 50px;
  color: white;
}

#cv-button {
  background-color: #31a853;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#cv-button:hover {
  background-color: #2b8743;
}

#profile-history {
  height: 20%;
  width: 100%;
  margin-top: 20px;
  padding: 5%;
}

#create-button {
  background-color: #517bbe;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

}

#create-button:hover {
  background-color: #456799;
}

#text-history-headline {
  margin-top: 50px;
  color: white;
}

#job-post {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  height: 86px;
  margin: 5% 0% 5% 0%;
}

a {
  color: white
}

#job-post1 {
  width: 15%;
  float: left;
  padding: 2% 4% 2% 4%;
}

#job-post2 {
  width: 70%;
  float: left;
}

#job-title {
  font-size: 20px;
  margin: 3% 0px -20px 6%;
}

#job-line {
  width: 90%;
  height: 2px;
  margin: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50px;
}

#job-area {
  font-size: 14px;
  margin: -20px 0px 0px 6%;
}

#job-post3 {
  width: 15%;
  float: left;
}

#job-dato {
  font-size: 20px;
  padding: 30% 0% 0% 25%;
}

//table {
//  border-collapse: separate;
//}
//td {
//  border: none;
//  padding: 10px;
//}
//
//td:first-child {
//  border-top-left-radius: 10px;
//  border-bottom-left-radius: 10px;
//}
//td:last-child {
//  border-bottom-right-radius: 10px;
//  border-top-right-radius: 10px;
//}

#no-jobs {
  color: white;
}

@media (max-width: 500px) {

// Registration


// User profile

  .navbar-inverse {
    display:none;
  }

  .container {
    padding: 0;
    margin: 0;
  }

  #profile-header {
    height: 50px;
    width: 100%;
    margin: auto;
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  #header-col1{
    height: 50px;
    width: 10%;
    float: left;
  }

  #back-button {
    color: white;
    font-size: 300%;
    margin-left: 10px;
    margin-top: 5%;
  }

  #header-col2 {
    height: 50px;
    width: 80%;
    float: left;
  }

  #header-text {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    letter-spacing: 2px;
  }

  #header-col3 {
    height: 50px;
    width: 10%;
    float: left;
  }

  #settings-button {
    color: white;
    font-size: 250%;
    margin-left: -10%;
    padding-top: 12%;
  }

  #profile-content-content {
    width: 100%;
    padding: 8% 5% 0% 5%;
  }

  #profile-content-col1 {
    height: 100px;
    width: 20%;
    float: left;
  }

  #user-profile-picture {
    height: 90px;
    width: 90px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  #profile-content-col2 {
    height: 100px;
    width: 80%;
    float: left;
    padding: 10px;
    padding-left: 25%;
  }

  #profile-name {
    color: white;
    font-size: 25px;
  }

  #profile-text {
    margin-top: 120px;
    margin-bottom: 50px;
    color: white;
  }


  #profile-history {
    height: 20%;
    width: 100%;
    margin-top: 20px;
    padding: 5%;
  }

  #text-history-headline {
    margin-top: 50px;
    color: white;
  }

  #job-post {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
    height: 70px;
    margin: 5% 0% 5% 0%;
  }

  #job-post1 {
    width: 15%;
    float: left;
    padding: 2% 4% 2% 4%;
  }

  #job-post2 {
    width: 70%;
    float: left;
  }

  #job-title {
    font-size: 20px;
    margin: 3% 0px -20px 6%;
  }

  #job-line {
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
  }

  #job-area {
    font-size: 14px;
    margin: -20px 0px 0px 6%;
  }

  #job-post3 {
    width: 15%;
    float: left;
  }

  #job-dato {
    font-size: 20px;
    padding: 30% 0% 0% 25%;
  }


}