//.container {
//  padding: 0;
//  margin: 0;
//}


// Front Page

#search-bar {
  background-color: rgba(255,255,255,0.5);
}

.stylish-input-group .input-group-addon{
  //background: white !important;
  background-color: rgba(255,255,255,0.4);
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}
.stylish-input-group .form-control{
  //border-right:0;
  //box-shadow:0 0 0;
  //border-color:#ccc;
  border: none;
  border-radius: 10px;
}
.stylish-input-group button{
  border: 0;
  background:transparent;
}

#search-filters {
  width: 100%;
  padding: 0% 0% 0% 12%;
}

#filter-cat {
  margin: 5%;
  padding: 3% 7% 3% 7%;
  background-color: #517BBE;
  font-size: 200%;
  border: none;
}

#filter-cat:hover {
  background-color: #456799;
}

#filter-area {
  margin: 5%;
  padding: 3% 7% 3% 7%;
  background-color: #E44134;
  font-size: 200%;
  border: none;
}

#filter-area:hover {
  background-color: #B8362C;
}

#filter-date {
  margin: 5%;
  padding: 3% 7% 3% 7%;
  background-color: #30A451;
  font-size: 200%;
  border: none;
}

#filter-date:hover {
  background-color: #2b8743;
}

#newest-headline {
  margin-top: 5%;
  color: white;
}

@media (max-width: 500px) {

  body {
    position:relative;
  }

  .navbar-inverse {
    display:none;
  }

  .col-md-8 {
    padding: 0;
  }

// Front Page
  #search-filters {
    width: 100%;
    padding: 5% 0% 0% 0%;
  }

  #filter-cat {
    margin: 1.7%;
    padding: 3% 11% 3% 11%;
    background-color: #517BBE;
    font-size: 200%;
    border: none;
  }

  #filter-area {
    margin: 1.7%;
    padding: 3% 11% 3% 11%;
    background-color: #E44134;
    font-size: 200%;
    border: none;
  }

  #filter-date {
    margin: 1.7%;
    padding: 3% 11% 3% 11%;
    background-color: #30A451;
    font-size: 200%;
    border: none;
  }


}

