#profile-content {
  background-image: linear-gradient(rgba(39,188,183,0.4), rgba(255,0,0,0.4));
}

#profile-header {
  height: 50px;
  width: 100%;
  margin: auto;
  padding-bottom: 7%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#header-col1{
  height: 50px;
  width: 10%;
  float: left;
}

#back-button {
  color: white;
  font-size: 300%;
  margin-left: 10px;
  margin-top: 5%;
}

#header-col2 {
  height: 50px;
  width: 80%;
  float: left;
}

#header-text {
  color: white;
  text-align: center;
  margin-top: 1.5%;
  font-size: 20px;
  letter-spacing: 2px;
}

#header-col3 {
  height: 50px;
  width: 10%;
  float: left;
}

#settings-button {
  color: white;
  font-size: 250%;
  margin-left: 25px;
  margin-top: 11%;
}



#job-content-content {
  width: 100%;
  padding: 8% 5% 0% 5%;
}

#job-content-col1 {
  height: 100px;
  width: 100px;
  float: left;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

#job-logo {
  position: relative;
  width: 60%;
  margin: 10% 0 0 20%;
}

#job-content-col2 {
  height: 100px;
  width: 80%;
  float: left;
  padding: 0 0 0 20px;
}

#job-name {
  color: white;
  margin: 3% 0 -4% 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

#title-line {
  width: 100%;
  height: 2px;
  margin-left: -5px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50px;
}

#job-title-area {
  font-size: 18px;
  color: rgba(255,255,255,0.8);
  margin: -4% 0 0 0;


}

#job-info {
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin: 150px 0 50px 0;
  padding: 10px 15px;
  color: #4c4c4c;
}

#info-headings {
  padding-right: 30%;
}

#info-info {
  color: rgba(76,76,76,0.8);
}

#job-text {
  color: rgba(76,76,76,0.8);
}

#apply-button {
  background-color: #31a853;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  margin: -3% 0 10% 0;
}

#apply-button:hover {
  background-color: #2b8743;
}


@media (max-width: 500px) {

  #profile-header {
    height: 50px;
    width: 95%;
    margin: auto;
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  #header-col1{
    height: 50px;
    width: 10%;
    float: left;
  }

  #back-button {
    color: white;
    font-size: 300%;
    margin-left: 10px;
    margin-top: 5%;
  }

  #header-col2 {
    height: 50px;
    width: 80%;
    float: left;
  }

  #header-text {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    letter-spacing: 2px;
  }

  #header-col3 {
    height: 50px;
    width: 10%;
    float: left;
  }

  #settings-button {
    color: white;
    font-size: 250%;
    margin-left: -10%;
    padding-top: 8%;
  }


  #info-headings {
    margin-top: -10px;
  }

  #job-content-col2 {
    width: 60%;
  }

  #job-name {
    margin: 8% 0 -9% 0;
  }

  #job-title-area {
    font-size: 18px;
    color: rgba(255,255,255,0.8);
    margin: -8% 0 0 0;
  }

  #job-info{
    margin: 130px 0 50px 0;
  }





}